@import './normalize.css';
@import './vars.scss';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: $color-background;

  * {
    color: $color-font;
    font-family: $font;
  }

  .change-directory {
    display: flex;

    *:not(p) {
        color: black;
        margin: 0.5em;
    }
  }

  .Navigation {
    height: 3em;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    min-height: 85vh;
    margin: 0 auto 0 auto;
    padding: 0.5em 0 0.5em 0;

    background-color: $color-secondary;

    .gallery-array {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .Gallery {
        margin: 0 auto 0 auto;
        width: 90vw;
        flex-grow: 1;
      }
      
      .Gallery.collapsed {
        width: 12em;
        height: 14.5em;
        flex-grow: 0;
        margin: 0.5em;
        padding: 0.2em;
      }
    }
  }

  .Footer {
    height: 2em;
  }

}

.server-err {
  margin: auto;
  text-align: center;
}