@import './vars.scss';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: $color-background;

  * {
    color: $color-font;
    font-family: $font;
  }

  .Navigation {
    height: 3em;
  }

  .Gallery {
    margin: 0 auto 0 auto;
    width: 90vw;
    flex-grow: 1;
  }

  .Footer {
    height: 2em;
  }

}

.server-err {
  margin: auto;
  text-align: center;
}