@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-primary: #1e1e1e;
$color-secondary: #414141;
$color-tertiary: #636363;
$color-accent: #0055b6;
$color-background: #000000;
$color-font: #dfdfdf;
$font: 'Open-Sans', sans-serif;