@import '../../vars.scss';

.Gallery {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    .gallery-title {
    }

    .img-array {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Img {
            min-width: 10em;
            min-height: 11em;
            max-width: 80vw;
        }
    }

    .img-array.empty {
        text-align: center;
        margin: auto;
    }

}

.Gallery.collapsed {
    background-color: $color-tertiary;

    .gallery-header {
        display: flex;
        width: 10em;

        .title {
            margin: 0.7em 0 0.7em 0;
            height: 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            flex-grow: 1;
        }
    
        .index {
            margin: 0.55em 0 0.7em 0;
            height: 1em;
            padding: 0.1em;
            background-color: #333333;
        }
    }

    .Img {
        max-width: 10em;
        max-height: 11em;
        object-fit: cover;
    }

    .cover-container {
        width: 10em;
        height: 11em;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Img {
            padding: 0;
        }
    }
}