@import '../../vars.scss';

.Gallery {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    .gallery-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 9em;
    }

    .img-array {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Img {
            min-width: 8em;
            min-height: 8em;
            max-width: 80vw;
        }
    }

    .img-array.empty {
        text-align: center;
        margin: auto;
    }

}

.Gallery.collapsed {
    background-color: $color-tertiary;

    p {
        margin: 0.5em 0 0.5em 0;
    }

    .Img {
        max-width: 9em;
        max-height: 9em;
    }

    .cover-container {
        width: 9em;
        height: 9em;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Img {
            padding: 0;
        }
    }
}